OSTRANAUTS_DATA_PATH=/path/to/Ostranauts/data
OUTPUT_PATH=./output
REPORT_PATH=./reports
DATABASE_PATH=./database/translation_memory.json

FILE_SCANNED="Files scanned" #change this to your native language
TEXT_UNITS="Text units" #change this to your native language
NEW_TRANSLATIONS="New translation" #change this to your native language
FROM_MEMORY="From memory" #change this to your native language

NEW="NEW_IN_YOUR_NATIVE_LANGUAGE"
AUTO_TRANSLATED="AUTO_TRANSLATED_IN_YOUR_NATIVE_LANGUAGE"
VALIDATED="VALIDATED_IN_YOUR_NATIVE_LANGUAGE"
MODIFIED="MODIFIED_IN_YOUR_NATIVE_LANGUAGE"
SKIPPED="SKIPPED_IN_YOUR_NATIVE_LANGUAGE"

SOURCE_LANGUAGE=en
TARGET_LANGUAGE=your_native_language_in_code

VALIDATE="translate_validate_in_your_native_language"
EDIT="translate_edit_in_your_native_language"
SKIP="translate_skip_in_your_native_language"
NEXT_FILE="translate_next_file_in_your_native_language"
QUIT="translate_quit_in_your_native_language"

TRANSLATE_ALL="translate_translate_all_in_your_native_language"
TRANSLATE_SINGLE="translate_translate_single_in_your_native_language"
CHOICE="translate_choice_in_your_native_language : "
FILE_PATH_TO_TRANSLATE="translate_file_path_to_translate_in_your_native_language"
FILE_NOT_EXISTS="translate_file_not_exists_in_your_native_language"