OSTRANAUTS_DATA_PATH=/path/to/Ostranauts/data
OUTPUT_PATH=./output
REPORT_PATH=./reports
DATABASE_PATH=./database/translation_memory.json

FILE_SCANNED="Files scanned" #change this to your native language
TEXT_UNITS="Text units" #change this to your native language
NEW_TRANSLATION="New translation" #change this to your native language

NEW="NEW_IN_YOUR_NATIVE_LANGUAGE"
AUTO_TRANSLATED="AUTO_TRANSLATED_IN_YOUR_NATIVE_LANGUAGE"
VALIDATED="VALIDATED_IN_YOUR_NATIVE_LANGUAGE"
MODIFIED="MODIFIED_IN_YOUR_NATIVE_LANGUAGE"
SKIPPED="SKIPPED_IN_YOUR_NATIVE_LANGUAGE"

SOURCE_LANGUAGE=en
TARGET_LANGUAGE=your_native_language_in_code

VALIDATE="validate_in_your_native_language"
EDIT="edit_in_your_native_language"
SKIP="skip_in_your_native_language"
QUIT="quit_in_your_native_language"